body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: whitesmoke;
}
.flight-detail{
  color: #00B7FF;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #7e8479;
  color: whitesmoke;
}